@charset "utf-8";
@import "_smart-grid";
@import "header/_header";
@import "footer/_footer";
@import "settings/_settings";
@import "allpatches/_allpatches";
@import "poupcard/_poupcard";
@import "fonts/_fonts";
@import "section1/_section1";
@import "section2/_center";
@import "section3/_terminal";
@import "section4/_section__footer";
@import "section5/_timeTable";
@import "section6/_team";
@import "section7/_red";
@import "section8/_blog";
@import "section9/_faq";
@import "section10/_form";
//@import "portfolio/_portfolio";
@import "slayder/_slayder";
//@import "form/_form";

body {
	font-family: 'ProximaNova', sans-serif;
}


span {
	cursor: pointer;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #181818;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

ul {
	list-style-type: none;

	li {
		display: inline-block;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}



.container {

	@include wrapper();
	overflow: hidden;
}

.row {
	@include row-flex();
	//border: 1px solid rgb(219, 16, 192);
	justify-content: space-between;
	//max-width: 1105px;
	margin: 0 auto !important;
	align-content: center;
}
