@charset "utf-8";
@import "_smart-grid";
@import "settings/_settings";
@import "fonts/_fonts";

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	cursor: pointer;
	padding-top: 33px;
}

.header__burger {
	display: none;

	@include xs(display, block);

	@include xsh(margin-top, 33px);
}

.header__menu {

	@include xs(display, none);

	@include xsh(margin-top, 10px);
	@include xsh(margin-left, 100px);
	@include xsh(position, relative);
	@include xsh(z-index, 1);


	ul {
		text-align: right;
		
		li {
			list-style-type: none;

			a {
				font-family: 'TT_Travels';
				font-style: normal;
				font-weight: 300;
				font-size: 11px;
				line-height: 13px;
				letter-spacing: 0.02em;
				text-transform: capitalize;
				color: #000000;
				padding-top: 8px;
			}
		}
	}
}